
// Typography
$noto-sans: 'Noto Sans JP', sans-serif;
$loto: 'Lato', sans-serif; 
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$ai: rgb(13, 86, 97); //藍
$tetsu: rgb(38, 69, 61); //鉄
// $orange: 
// $flesh: 

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
