{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog/fontawesome.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              {% if user.is_superuser %}
                <a class="nav-item nav-link" href="/admin">Admin</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                {% with path=request.path %}
                <a class="nav-item nav-link" href="{% url 'logout' %}?next={% url 'login' %}?next={{ path }}">Logout</a>
                {% endwith %}
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                  Categories
                  <ul>
                    {% for category in categories %}
                      <li><a href="{% url 'blog-category' category.name %}">{{ category }}[{{category.posts.count}}]</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item list-group-item-light">
                  Tags
                  <ul>
                    {% for tag in tags %}
                      <li><a href="{% url 'blog-tag' tag.name %}">{{ tag }}[{{tag.posts.count}}]</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item list-group-item-light">
                  Archives
                  <ul>
                    {% for archive in archives %}
                      <li><a href="/archives/?month={{ archive.date_posted__month }}&year={{ archive.date_posted__year }}">{{archive.date_posted__year }}年 {{ archive.date_posted__month }}月 ( {{ archive.id__count }} )</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- {% csrf_token %} -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> -->
    <!-- <script id="post" type="text/x-handlebars-template"></script> -->
    <script src="{% static 'blog/app.js' %}"></script>


</body>
</html>
