{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle comment-img"> {{ user }}
    <form method="POST" class="post-form">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">
        {% if edit %}
          更新する
        {% else %}
          コメントする
        {% endif %}
        </button>

        {% if edit %}
          <a class="btn btn-outline-secondary" href=" {% url 'post-detail' post.id %}">
            キャンセル
          </a>
        {% endif %}
      </fieldset>
    </form>
{% endblock %}
