{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <a id="expand-modal" class="btn btn-outline-info btn-sm mt-1 mb-1">画像を挿入</a>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottm mb-4">
          {% if edit %}
            投稿の更新
          {% else %}
            投稿
          {% endif %}
        </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
          {% if edit %}
            更新する
          {% else %}
            投稿する
          {% endif %}
        </button>
        {% if edit %}
          <a class="btn btn-outline-secondary" href=" {% url 'post-detail' post.id %}">
            キャンセル
          </a>
        {% endif %}
      </div>
    </form>
    <section class="modal">
      <div id="photos">
        <div>
          <small>クリックして画像を挿入</small>
          <ul>
            {% for photo in photos %}
            <li>
              <img src="{{ photo.thumbnail.url }}" data-medium="{{ photo.medium.url }}" data-origin="{{ photo.origin.url }}"/> 
            </li>
            {% endfor %}
          </ul>
        </div>
        <a class="btn btn-outline-info" href="{% url 'photo-create' %}">写真を追加する</a>
        <!-- <form class="file-upload" method="POST" action="{% url 'photo-create' %}" enctype="multipart/form-data"> -->
        <!-- <form class="file-upload" method="POST" enctype="multipart/form-data">
          <small>or 画像をアップロード</small>
          {% csrf_token %}
            <fieldset class="form-group">
              {{ upload_form|crispy }}
              <button class="btn btn-primary" type="submit">アップロード</button>
            </fieldset>
        </form> -->
      </div>
    </section>
  </div> <!-- content-section -->
{% endblock content %}
