{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottm mb-4">ログイン</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">ログイン</button>
        <small class="text-muted ml-2">
          <a href="{% url 'password_reset' %}">パスワードをお忘れですか?</a>
        </small>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        アカウントをお持ちでないですか？<a href="{% url 'register' %}" class="ml-2">今すぐ登録</a>
      </small>
    </div>
  </div>
{% endblock content %}
