{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    {% if edit %}
     <img src="{{ photo.small.url }}" class="mb-4">
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      {% if edit %}
        <button class="btn btn-outline-info" type="submit"> 更新する </button>
        <a class="btn btn-outline-danger" href="{% url 'photo-delete' photo.id %}">削除する</a>
      {% else %}
        <button class="btn btn-outline-info" type="submit"> アップロード </button>
      {% endif %}
    </form>
  </div>
{% endblock content %}