{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <!-- <legend class="border-bottm mb-4">この投稿を削除</legend> -->
        <h5 class="text-alert">この写真を削除しますか？</h5>
              <img src="{{ photo.small.url }}">
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">削除する</button>
        <a class="btn btn-info" href="{{request.META.HTTP_REFERER}}">キャンセル</a>
      </div>
    </form>
  </div>
{% endblock content %}
